{
  "branches": ["main"],
  "tagFormat": "v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/npm", { "npmPublish": false }],
    "@semantic-release/github",
    ["@semantic-release/exec", {
      "verifyReleaseCmd": "echo \"VERSION=${nextRelease.version}\" > RELEASE.env"
    }]
  ],
  "debug": true
}
